In [ ]:
from pathlib import Path
import pandas as pd
import sys 
import os

# Definir la ruta base
data_path = Path('..') / 'data' / 'raw'
src_path = Path('..') / 'src' 

sys.path.append(str(src_path))
from notebooks.data_cleaning_utils import *

# Leer los archivos
# Probar con diferentes separadores y encoding
salario_edad = pd.read_csv(data_path / 'salario_medio bruto_edad.csv', 
                  sep=';',  # Muchos CSVs españoles usan punto y coma
                  encoding='utf-8')

salario_comunidad = pd.read_csv(data_path / 'salario_medio_bruto_comunidad.csv',
                  sep=';',
                  encoding='utf-8')

ipv = pd.read_csv(data_path / 'ipv historico.csv',
                  sep=';',
                  encoding='utf-8')

superficie_media = pd.read_csv(data_path / 'superficie util vivienda valor medio del periodo.csv',
                  sep=';',
                  encoding='utf-8')

interes_fijo = pd.read_csv(data_path / 'tipo interes medio inicio hipotecas constituidas fijo o variable.csv',
                  sep=';',
                  encoding='utf-8')
idealista_excel = pd.read_excel(data_path / 'Copia_idealista_metros_cuadrados.xlsx')

# EXPLORACIÓN INICIAL DE DATASETS PARA ANÁLISIS HIPOTECARIO

In [2]:
# Diccionario de datasets para iterar
datasets = {
    'Salarios por Edad': salario_edad,
    'Salarios por Comunidad': salario_comunidad, 
    'IPV Histórico': ipv,
    'Excel Idealista' : idealista_excel,
    'Superficie Media': superficie_media,
    'Tipos Interés': interes_fijo
}

In [3]:
for name, df in datasets.items():
    print(f"DATASET: {name}")
    print(f"Shape: {df.shape}")
    print(f"Columnas: {list(df.columns)}")
    print(f"Primeras 3 filas:")
    print(df.head(3))
    print(f"Tipos de datos:")
    print(df.dtypes)
    print(f"Valores nulos por columna:")
    print(df.isnull().sum())
    print("-" * 60)

DATASET: Salarios por Edad
Shape: (3564, 5)
Columnas: ['Tipo de jornada', 'Grupo de edad', 'Decil', 'Periodo', 'Total']
Primeras 3 filas:
  Tipo de jornada Grupo de edad        Decil  Periodo     Total
0           Total         Total  Total decil     2023  2.273,01
1           Total         Total  Total decil     2022  2.118,79
2           Total         Total  Total decil     2021  2.076,45
Tipos de datos:
Tipo de jornada    object
Grupo de edad      object
Decil              object
Periodo             int64
Total              object
dtype: object
Valores nulos por columna:
Tipo de jornada    0
Grupo de edad      0
Decil              0
Periodo            0
Total              0
dtype: int64
------------------------------------------------------------
DATASET: Salarios por Comunidad
Shape: (11880, 5)
Columnas: ['Tipo de jornada', 'Comunidades y Ciudades Autonómas', 'Decil', 'Periodo', 'Total']
Primeras 3 filas:
  Tipo de jornada Comunidades y Ciudades Autonómas        Decil  Periodo  \
0           Total                   Total Nacional  Total decil     2023
1           Total                   Total Nacional  Total decil     2022
2           Total                   Total Nacional  Total decil     2021

      Total
0  2.273,01
1  2.118,79
2  2.076,45
Tipos de datos:
Tipo de jornada                     object
Comunidades y Ciudades Autonómas    object
Decil                               object
Periodo                              int64
Total                               object
dtype: object
Valores nulos por columna:
Tipo de jornada                     0
Comunidades y Ciudades Autonómas    0
Decil                               0
Periodo                             0
Total                               0
dtype: int64
------------------------------------------------------------
DATASET: IPV Histórico
Shape: (17520, 6)
Columnas: ['Total Nacional', 'Comunidades y Ciudades Autónomas', 'General, vivienda nueva y de segunda mano', 'Índices y tasas', 'Periodo', 'Total']
Primeras 3 filas:
  Total Nacional Comunidades y Ciudades Autónomas  \
0       Nacional                              NaN
1       Nacional                              NaN
2       Nacional                              NaN

  General, vivienda nueva y de segunda mano Índices y tasas Periodo    Total
0                                   General          Índice  2025T1  171,296
1                                   General          Índice  2024T4  165,433
2                                   General          Índice  2024T3  162,521
Tipos de datos:
Total Nacional                               object
Comunidades y Ciudades Autónomas             object
General, vivienda nueva y de segunda mano    object
Índices y tasas                              object
Periodo                                      object
Total                                        object
dtype: object
Valores nulos por columna:
Total Nacional                                  0
Comunidades y Ciudades Autónomas              876
General, vivienda nueva y de segunda mano       0
Índices y tasas                                 0
Periodo                                         0
Total                                        1168
dtype: int64
------------------------------------------------------------
DATASET: Excel Idealista
Shape: (114, 8)
Columnas: ['Comunidades y Ciudades Autonómas', 'Precio€/m2', 'Variación mensual', 'Variación trimestral', 'Variación anual', 'Máximo histórico', 'Variación máximo', 'Año']
Primeras 3 filas:
  Comunidades y Ciudades Autonómas  Precio€/m2 Variación mensual  \
0                        Andalucía  2.468 €/m2             0.018
1                           Aragón  1.469 €/m2           - 0,2 %
2                         Asturias  1.538 €/m2             0.017

  Variación trimestral Variación anual      Máximo histórico Variación máximo  \
0                0.053           0.143  2.468 €/m2 mayo 2025            0,0 %
1                0.029           0.028   2.008 €/m2 mar 2007         - 26,8 %
2                0.054           0.109   1.867 €/m2 abr 2008         - 17,6 %

    Año
0  2025
1  2025
2  2025
Tipos de datos:
Comunidades y Ciudades Autonómas    object
Precio€/m2                          object
Variación mensual                   object
Variación trimestral                object
Variación anual                     object
Máximo histórico                    object
Variación máximo                    object
Año                                  int64
dtype: object
Valores nulos por columna:
Comunidades y Ciudades Autonómas    0
Precio€/m2                          0
Variación mensual                   0
Variación trimestral                0
Variación anual                     0
Máximo histórico                    0
Variación máximo                    0
Año                                 0
dtype: int64
------------------------------------------------------------
DATASET: Superficie Media
Shape: (8640, 6)
Columnas: ['Total Nacional', 'Comunidades y Ciudades Autónomas', 'Superficie útil de la vivienda', 'Tamaño del hogar', 'periodo', 'Total']
Primeras 3 filas:
   Total Nacional Comunidades y Ciudades Autónomas  \
0  Total Nacional                              NaN
1  Total Nacional                              NaN
2  Total Nacional                              NaN

  Superficie útil de la vivienda Tamaño del hogar  periodo     Total
0                          Total            Total     2020  18.754,8
1                          Total            Total     2019  18.625,7
2                          Total            Total     2018  18.535,9
Tipos de datos:
Total Nacional                      object
Comunidades y Ciudades Autónomas    object
Superficie útil de la vivienda      object
Tamaño del hogar                    object
periodo                              int64
Total                               object
dtype: object
Valores nulos por columna:
Total Nacional                        0
Comunidades y Ciudades Autónomas    432
Superficie útil de la vivienda        0
Tamaño del hogar                      0
periodo                               0
Total                                 0
dtype: int64
------------------------------------------------------------
DATASET: Tipos Interés
Shape: (1170, 4)
Columnas: ['Tipo de interés', 'Naturaleza de la finca', 'Periodo', 'Total']
Primeras 3 filas:
  Tipo de interés Naturaleza de la finca  Periodo Total
0           Total           Total fincas  2025M03  3,23
1           Total           Total fincas  2025M02  3,17
2           Total           Total fincas  2025M01  3,31
Tipos de datos:
Tipo de interés           object
Naturaleza de la finca    object
Periodo                   object
Total                     object
dtype: object
Valores nulos por columna:
Tipo de interés           0
Naturaleza de la finca    0
Periodo                   0
Total                     0
dtype: int64
------------------------------------------------------------

# ANÁLISIS EXPLORATORIO ESPECÍFICO POR DATASET

In [4]:
salario_comunidad['Comunidades y Ciudades Autonómas'].value_counts()

Comunidades y Ciudades Autonómas
Total Nacional                    594
01 Andalucía                      594
18 Ceuta                          594
17 Rioja, La                      594
16 País Vasco                     594
15 Navarra, Comunidad Foral de    594
14 Murcia, Región de              594
13 Madrid, Comunidad de           594
12 Galicia                        594
11 Extremadura                    594
10 Comunitat Valenciana           594
09 Cataluña                       594
08 Castilla - La Mancha           594
07 Castilla y León                594
06 Cantabria                      594
05 Canarias                       594
04 Balears, Illes                 594
03 Asturias, Principado de        594
02 Aragón                         594
19 Melilla                        594
Name: count, dtype: int64

In [5]:
salario_edad['Grupo de edad'].value_counts()

Grupo de edad
Total              594
De 16 a 24 años    594
De 25 a 34 años    594
De 35 a 44 años    594
De 45 a 54 años    594
55 y más años      594
Name: count, dtype: int64

In [6]:
#PERÍODOS TEMPORALES 
print("\nPERÍODOS TEMPORALES DISPONIBLES:")
for name, df in datasets.items():
    periodo_col = None
    for col in df.columns:
        if 'periodo' in col.lower() or 'año' in col.lower() or 'fecha' in col.lower():
            periodo_col = col
            break

    if periodo_col:
        años_disponibles = df[periodo_col].unique()
        años_recientes = [año for año in años_disponibles if str(año).startswith(('2022', '2023', '2024', '2025'))]
        print(f"{name}: {años_recientes if años_recientes else 'Sin datos recientes'}")
    else:
        print(f"{name}: No se encontró columna de período")

PERÍODOS TEMPORALES DISPONIBLES:
Salarios por Edad: [2023, 2022]
Salarios por Comunidad: [2023, 2022]
IPV Histórico: ['2025T1', '2024T4', '2024T3', '2024T2', '2024T1', '2023T4', '2023T3', '2023T2', '2023T1', '2022T4', '2022T3', '2022T2', '2022T1']
Excel Idealista: [2025, 2024, 2023, 2022]
Superficie Media: Sin datos recientes
Tipos Interés: ['2025M03', '2025M02', '2025M01', '2024M12', '2024M11', '2024M10', '2024M09', '2024M08', '2024M07', '2024M06', '2024M05', '2024M04', '2024M03', '2024M02', '2024M01', '2023M12', '2023M11', '2023M10', '2023M09', '2023M08', '2023M07', '2023M06', '2023M05', '2023M04', '2023M03', '2023M02', '2023M01', '2022M12', '2022M11', '2022M10', '2022M09', '2022M08', '2022M07', '2022M06', '2022M05', '2022M04', '2022M03', '2022M02', '2022M01']

In [7]:
overview(idealista_excel)

Shape: (114, 8)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Comunidades y Ciudades Autonómas  114 non-null    object
 1   Precio€/m2                        114 non-null    object
 2   Variación mensual                 114 non-null    object
 3   Variación trimestral              114 non-null    object
 4   Variación anual                   114 non-null    object
 5   Máximo histórico                  114 non-null    object
 6   Variación máximo                  114 non-null    object
 7   Año                               114 non-null    int64
dtypes: int64(1), object(7)
memory usage: 7.3+ KB
None

Tipos de datos:
Comunidades y Ciudades Autonómas    object
Precio€/m2                          object
Variación mensual                   object
Variación trimestral                object
Variación anual                     object
Máximo histórico                    object
Variación máximo                    object
Año                                  int64
dtype: object

Tras este análisis exploratorio nos damos cuenta que debemos realizar una limpieza de nulos, estandarización de nombres y cambio de tipos de datos. Así como realizar unos cálculos para obtener información de años necesarios.

# LIMPIEZA DATASETS

In [8]:
# LIMPIAR IDEALISTA
#limpiar precios
idealista_clean = idealista_excel.copy()

In [9]:
def limpiar_precio_m2(precio_texto):
    if pd.isna(precio_texto):
        return None
    precio_limpio = str(precio_texto).replace('€/m2', '').replace('.', '').replace(',', '.').strip()
    try:
        return int(precio_limpio)
    except:
        return None

idealista_clean['Precio m2'] = idealista_clean['Precio€/m2'].apply(limpiar_precio_m2)

print("Precios convertidos:")
print(idealista_clean[['Comunidades y Ciudades Autonómas', 'Precio€/m2', 'Precio m2']].head())

Precios convertidos:
  Comunidades y Ciudades Autonómas  Precio€/m2  Precio m2
0                        Andalucía  2.468 €/m2       2468
1                           Aragón  1.469 €/m2       1469
2                         Asturias  1.538 €/m2       1538
3                         Baleares  4.905 €/m2       4905
4                         Canarias  3.039 €/m2       3039

In [10]:
#ESTANDARIZAR NOMBRES DE CCAA
# Mapeo para unificar nombres entre datasets
mapeo_ccaa = {
    'Andalucía': '01 Andalucía',
    'Aragón': '02 Aragón', 
    'Asturias': '03 Asturias, Principado de',
    'Baleares': '04 Balears, Illes',
    'Canarias': '05 Canarias',
    'Cantabria': '06 Cantabria',
    'Castilla y León': '07 Castilla y León',
    'Castilla-La Mancha': '08 Castilla - La Mancha',
    'Cataluña': '09 Cataluña',
    'Comunitat Valenciana': '10 Comunitat Valenciana',
    'Extremadura': '11 Extremadura',
    'Galicia': '12 Galicia',
    'Madrid Comunidad': '13 Madrid, Comunidad de',
    'Murcia Región': '14 Murcia, Región de',
    'Navarra': '15 Navarra, Comunidad Foral de',
    'Euskadi': '16 País Vasco',
    'La Rioja': '17 Rioja, La',
    'Ceuta': '18 Ceuta',
    'Melilla': '19 Melilla'
}

In [11]:
idealista_clean['Comunidades y Ciudades Autónomas'] = idealista_clean['Comunidades y Ciudades Autonómas'].map(mapeo_ccaa)

In [12]:
columnas_a_mantener_idealista = [
    'Comunidades y Ciudades Autónomas', 
    'Año', 
    'Precio m2'
]

idealista_final = idealista_clean[columnas_a_mantener_idealista].copy()

In [13]:
# ELIMINAR NULOS
superficie_media=drop_nulls(superficie_media)

In [14]:
ipv=drop_nulls(ipv)

In [ ]:
from notebooks.data_cleaning_utils import limpiar_columna_total

In [16]:
#LIMPIEZA DATASET IPV
# Eliminar la columna 'Total Nacional' (solo contiene 'Nacional')
ipv_clean = ipv.drop('Total Nacional', axis=1).copy()

# Renombrar columnas para mayor claridad
ipv_clean = ipv_clean.rename(columns={
    'General, vivienda nueva y de segunda mano': 'Tipo Vivienda',
    'Índices y tasas': 'Tipo Indicador'
})

In [17]:
#LIMPIEZA DATASET SUPERFICIE MEDIA
#ESTANDARIZAR NOMBRES DE CCAA
# Mapeo para unificar nombres entre datasets
mapeo_ccaa_2 = {
    'Andalucía': '01 Andalucía',
    'Aragón': '02 Aragón', 
    'Asturias, Principado de': '03 Asturias, Principado de',
    'Balears, Illes': '04 Balears, Illes',
    'Canarias': '05 Canarias',
    'Cantabria': '06 Cantabria',
    'Castilla y León': '07 Castilla y León',
    'Castilla - La Mancha': '08 Castilla - La Mancha',
    'Cataluña': '09 Cataluña',
    'Comunitat Valenciana': '10 Comunitat Valenciana',
    'Extremadura': '11 Extremadura',
    'Galicia': '12 Galicia',
    'Madrid, Comunidad de': '13 Madrid, Comunidad de',
    'Murcia, Región de': '14 Murcia, Región de',
    'Navarra, Comunidad Foral de': '15 Navarra, Comunidad Foral de',
    'País Vasco': '16 País Vasco',
    'Rioja, La': '17 Rioja, La',
    'Ceuta': '18 Ceuta',
    'Melilla': '19 Melilla'
}

In [18]:
superficie_media['Comunidades y Ciudades Autónomas'] = superficie_media['Comunidades y Ciudades Autónomas'].map(mapeo_ccaa_2)

/var/folders/4q/413qpbj17ks9bgdzl52cpx9m0000gn/T/ipykernel_9112/2539730385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  superficie_media['Comunidades y Ciudades Autónomas'] = superficie_media['Comunidades y Ciudades Autónomas'].map(mapeo_ccaa_2)

In [19]:
superficie_clean = superficie_media.drop('Total Nacional', axis=1).copy()

# Renombrar columnas
superficie_clean = superficie_clean.rename(columns={
    'Superficie útil de la vivienda': 'Superficie Util',
    'Tamaño del hogar': 'Tamaño Hogar',
    'periodo': 'Año'
})

In [20]:
#LIMPIEZA COLUMNA TOTAL EN TODOS LOS CSV (menos idealista)
ipv_clean= limpiar_columna_total(ipv_clean)
superficie_clean= limpiar_columna_total(superficie_clean)
salario_comunidad = limpiar_columna_total(salario_comunidad)
salario_edad = limpiar_columna_total(salario_edad)
interes_fijo = limpiar_columna_total(interes_fijo)

In [21]:
salario_comunidad.rename(columns={'Comunidades y Ciudades Autonómas': 'Comunidades y Ciudades Autónomas'}, inplace=True)

In [22]:
#estandarizar al completo la variables de la columna de ccaa
salario_comunidad = limpiar_comillas_ccaa(salario_comunidad)
ipv_clean = limpiar_comillas_ccaa(ipv_clean)
idealista_final = limpiar_comillas_ccaa(idealista_final)

In [23]:
# columna de año
salario_comunidad.rename(columns={"Periodo": "Año"}, inplace=True)
salario_edad.rename(columns={"Periodo": "Año"}, inplace=True)

In [24]:
# Data time en Periodo de IPV e Interés Fijo
ipv_clean = convertir_periodo_con_detalles(ipv_clean)
interes_fijo = convertir_periodo_con_detalles(interes_fijo)

In [25]:
#todos a int64
ipv_clean = convertir_int32_a_int64(ipv_clean)
interes_fijo = convertir_int32_a_int64(interes_fijo)

In [26]:
# Corregir el formato '2025T03' → '2025T3'
interes_fijo["Periodo"] = interes_fijo["Periodo"].str.replace(r"M0", "M", regex=True)
interes_fijo["Periodo"].unique()

array(['2025M3', '2025M2', '2025M1', '2024M12', '2024M11', '2024M10',
       '2024M9', '2024M8', '2024M7', '2024M6', '2024M5', '2024M4',
       '2024M3', '2024M2', '2024M1', '2023M12', '2023M11', '2023M10',
       '2023M9', '2023M8', '2023M7', '2023M6', '2023M5', '2023M4',
       '2023M3', '2023M2', '2023M1', '2022M12', '2022M11', '2022M10',
       '2022M9', '2022M8', '2022M7', '2022M6', '2022M5', '2022M4',
       '2022M3', '2022M2', '2022M1', '2021M12', '2021M11', '2021M10',
       '2021M9', '2021M8', '2021M7', '2021M6', '2021M5', '2021M4',
       '2021M3', '2021M2', '2021M1', '2020M12', '2020M11', '2020M10',
       '2020M9', '2020M8', '2020M7', '2020M6', '2020M5', '2020M4',
       '2020M3', '2020M2', '2020M1', '2019M12', '2019M11', '2019M10',
       '2019M9', '2019M8', '2019M7', '2019M6', '2019M5', '2019M4',
       '2019M3', '2019M2', '2019M1', '2018M12', '2018M11', '2018M10',
       '2018M9', '2018M8', '2018M7', '2018M6', '2018M5', '2018M4',
       '2018M3', '2018M2', '2018M1', '2017M12', '2017M11', '2017M10',
       '2017M9', '2017M8', '2017M7', '2017M6', '2017M5', '2017M4',
       '2017M3', '2017M2', '2017M1', '2016M12', '2016M11', '2016M10',
       '2016M9', '2016M8', '2016M7', '2016M6', '2016M5', '2016M4',
       '2016M3', '2016M2', '2016M1', '2015M12', '2015M11', '2015M10',
       '2015M9', '2015M8', '2015M7', '2015M6', '2015M5', '2015M4',
       '2015M3', '2015M2', '2015M1', '2014M12', '2014M11', '2014M10',
       '2014M9', '2014M8', '2014M7', '2014M6', '2014M5', '2014M4',
       '2014M3', '2014M2', '2014M1', '2013M12', '2013M11', '2013M10',
       '2013M9', '2013M8', '2013M7', '2013M6', '2013M5', '2013M4',
       '2013M3', '2013M2', '2013M1', '2012M12', '2012M11', '2012M10',
       '2012M9', '2012M8', '2012M7', '2012M6', '2012M5', '2012M4',
       '2012M3', '2012M2', '2012M1', '2011M12', '2011M11', '2011M10',
       '2011M9', '2011M8', '2011M7', '2011M6', '2011M5', '2011M4',
       '2011M3', '2011M2', '2011M1', '2010M12', '2010M11', '2010M10',
       '2010M9', '2010M8', '2010M7', '2010M6', '2010M5', '2010M4',
       '2010M3', '2010M2', '2010M1', '2009M12', '2009M11', '2009M10',
       '2009M9', '2009M8', '2009M7', '2009M6', '2009M5', '2009M4',
       '2009M3', '2009M2', '2009M1'], dtype=object)

In [27]:
# Corregir el formato '2025T03' → '2025T3'
ipv_clean["Periodo"] = ipv_clean["Periodo"].str.replace(r"T0", "T", regex=True)
ipv_clean["Periodo"].unique()

array(['2025T1', '2024T4', '2024T3', '2024T2', '2024T1', '2023T4',
       '2023T3', '2023T2', '2023T1', '2022T4', '2022T3', '2022T2',
       '2022T1', '2021T4', '2021T3', '2021T2', '2021T1', '2020T4',
       '2020T3', '2020T2', '2020T1', '2019T4', '2019T3', '2019T2',
       '2019T1', '2018T4', '2018T3', '2018T2', '2018T1', '2017T4',
       '2017T3', '2017T2', '2017T1', '2016T4', '2016T3', '2016T2',
       '2016T1', '2015T4', '2015T3', '2015T2', '2015T1', '2014T4',
       '2014T3', '2014T2', '2014T1', '2013T4', '2013T3', '2013T2',
       '2013T1', '2012T4', '2012T3', '2012T2', '2012T1', '2011T4',
       '2011T3', '2011T2', '2011T1', '2010T4', '2010T3', '2010T2',
       '2010T1', '2009T4', '2009T3', '2009T2', '2009T1', '2008T4',
       '2008T3', '2008T2', '2008T1', '2007T4', '2007T3', '2007T2',
       '2007T1'], dtype=object)

idealista_final, interes_fijo, slario_comunidad, salario_edad y el resto "_clean" son los datasets limpios para trabajar en ellos

### Volvemos a estandarizar los nombres de las columnas de ccaa

In [28]:
df_salario_comunidad = estandarizar_comunidades(salario_comunidad, "Comunidades y Ciudades Autónomas")
df_ipv = estandarizar_comunidades(ipv_clean, "Comunidades y Ciudades Autónomas")
df_superficie= estandarizar_comunidades(superficie_clean, "Comunidades y Ciudades Autónomas")
df_precios= estandarizar_comunidades(idealista_final, "Comunidades y Ciudades Autónomas")

In [29]:
set(df_ipv["Comunidades y Ciudades Autónomas"].unique()) == set(df_salario_comunidad["Comunidades y Ciudades Autónomas"].unique())

False

In [30]:
comunidades_ipv = set(df_ipv["Comunidades y Ciudades Autónomas"].unique())
comunidades_salario = set(df_salario_comunidad["Comunidades y Ciudades Autónomas"].unique())

print("En IPV y no en salario_comunidad:")
print(comunidades_ipv - comunidades_salario)

print("\nEn salario_comunidad y no en IPV:")
print(comunidades_salario - comunidades_ipv)

En IPV y no en salario_comunidad:
set()

En salario_comunidad y no en IPV:
{'Total Nacional'}

EXPORTAMOS LOS DOS CSVS LIMPIOS 
import os
os.makedirs('data/clean', exist_ok=True)
interes_fijo.to_csv('../data/clean/interes_fijo_sql.csv', index=False)
salario_edad.to_csv('../data/clean/salario_edad_sql.csv', index=False)
df_ipv.to_csv('../data/clean/ipv.csv', index=False)
df_salario_comunidad.to_csv('../data/clean/salario_ccaa_sql.csv', index=False)
df_precios.to_csv('../data/clean/precios_sql.csv', index=False)
df_superficie.to_csv('../data/clean/superficie_sql.csv', index=False)
df_precios.to_csv('../data/clean/precios_sql.csv', index=False)

In [37]:
## en SQL los nombres de las columnas deben estar estandarizados... so 

normalize_column_names(df_salario_comunidad)
normalize_column_names(df_precios)
normalize_column_names(df_superficie)
normalize_column_names(salario_edad)
normalize_column_names(interes_fijo)
normalize_column_names(df_ipv)

,comunidades_y_ciudades_autónomas,tipo_vivienda,tipo_indicador,periodo,total,fecha,año,mes,trimestre
876,01 Andalucia,General,Índice,2025T1,170.858,2025-01-01,2025,1,1
877,01 Andalucia,General,Índice,2024T4,165.457,2024-10-01,2024,10,4
878,01 Andalucia,General,Índice,2024T3,162.275,2024-07-01,2024,7,3
879,01 Andalucia,General,Índice,2024T2,156.273,2024-04-01,2024,4,2
880,01 Andalucia,General,Índice,2024T1,149.880,2024-01-01,2024,1,1
...,...,...,...,...,...,...,...,...,...
16931,19 Melilla,General,Variación en lo que va de año,2008T1,0.900,2008-01-01,2008,1,1
16932,19 Melilla,General,Variación en lo que va de año,2007T4,14.500,2007-10-01,2007,10,4
16933,19 Melilla,General,Variación en lo que va de año,2007T3,12.600,2007-07-01,2007,7,3
16934,19 Melilla,General,Variación en lo que va de año,2007T2,9.600,2007-04-01,2007,4,2
16935,19 Melilla,General,Variación en lo que va de año,2007T1,6.300,2007-01-01,2007,1,1