In [2]:
from pathlib import Path
import pandas as pd
import sys 

# Definir la ruta base
data_path = Path('..') / 'data' / 'raw'
src_path = Path('..') / 'src' 

sys.path.append(str(src_path))
from data_cleaning_utils import *

# Leer los archivos
# Probar con diferentes separadores y encoding
salario_edad = pd.read_csv(data_path / 'salario_medio bruto_edad.csv', 
                  sep=';',  # Muchos CSVs espa√±oles usan punto y coma
                  encoding='utf-8')

salario_comunidad = pd.read_csv(data_path / 'salario_medio_bruto_comunidad.csv',
                  sep=';',
                  encoding='utf-8')

ipv = pd.read_csv(data_path / 'ipv historico.csv',
                  sep=';',
                  encoding='utf-8')

metros_idealista = pd.read_csv(data_path / 'idealista metros cuadrados.csv',
                  sep=';',
                  encoding='utf-8')

superficie_media = pd.read_csv(data_path / 'superficie util vivienda valor medio del periodo.csv',
                  sep=';',
                  encoding='utf-8')

interes_fijo = pd.read_csv(data_path / 'tipo interes medio inicio hipotecas constituidas fijo o variable.csv',
                  sep=';',
                  encoding='utf-8')

# EXPLORACI√ìN INICIAL DE DATASETS PARA AN√ÅLISIS HIPOTECARIO

In [3]:
# Lista de datasets para iterar
datasets = {
    'Salarios por Edad': salario_edad,
    'Salarios por Comunidad': salario_comunidad, 
    'IPV Hist√≥rico': ipv,
    'Metros¬≤ Idealista': metros_idealista,
    'Superficie Media': superficie_media,
    'Tipos Inter√©s': interes_fijo
}

In [17]:
# Exploraci√≥n b√°sica de cada dataset
for name, df in datasets.items():
    print(f"\nüìä DATASET: {name}")
    print(f"Shape: {df.shape}")
    print(f"Columnas: {list(df.columns)}")
    print(f"Primeras 3 filas:")
    print(df.head(3))
    print(f"Tipos de datos:")
    print(df.dtypes)
    print(f"Valores nulos por columna:")
    print(df.isnull().sum())
    print("-" * 60)

üìä DATASET: Salarios por Edad
Shape: (3564, 5)
Columnas: ['Tipo de jornada', 'Grupo de edad', 'Decil', 'Periodo', 'Total']
Primeras 3 filas:
  Tipo de jornada Grupo de edad        Decil  Periodo     Total
0           Total         Total  Total decil     2023  2.273,01
1           Total         Total  Total decil     2022  2.118,79
2           Total         Total  Total decil     2021  2.076,45
Tipos de datos:
Tipo de jornada    object
Grupo de edad      object
Decil              object
Periodo             int64
Total              object
dtype: object
Valores nulos por columna:
Tipo de jornada    0
Grupo de edad      0
Decil              0
Periodo            0
Total              0
dtype: int64
------------------------------------------------------------

üìä DATASET: Salarios por Comunidad
Shape: (11880, 5)
Columnas: ['Tipo de jornada', 'Comunidades y Ciudades Auton√≥mas', 'Decil', 'Periodo', 'Total']
Primeras 3 filas:
  Tipo de jornada Comunidades y Ciudades Auton√≥mas        Decil  Periodo  \
0           Total                   Total Nacional  Total decil     2023
1           Total                   Total Nacional  Total decil     2022
2           Total                   Total Nacional  Total decil     2021

      Total
0  2.273,01
1  2.118,79
2  2.076,45
Tipos de datos:
Tipo de jornada                     object
Comunidades y Ciudades Auton√≥mas    object
Decil                               object
Periodo                              int64
Total                               object
dtype: object
Valores nulos por columna:
Tipo de jornada                     0
Comunidades y Ciudades Auton√≥mas    0
Decil                               0
Periodo                             0
Total                               0
dtype: int64
------------------------------------------------------------

üìä DATASET: IPV Hist√≥rico
Shape: (17520, 6)
Columnas: ['Total Nacional', 'Comunidades y Ciudades Aut√≥nomas', 'General, vivienda nueva y de segunda mano', '√çndices y tasas', 'Periodo', 'Total']
Primeras 3 filas:
  Total Nacional Comunidades y Ciudades Aut√≥nomas  \
0       Nacional                              NaN
1       Nacional                              NaN
2       Nacional                              NaN

  General, vivienda nueva y de segunda mano √çndices y tasas Periodo    Total
0                                   General          √çndice  2025T1  171,296
1                                   General          √çndice  2024T4  165,433
2                                   General          √çndice  2024T3  162,521
Tipos de datos:
Total Nacional                               object
Comunidades y Ciudades Aut√≥nomas             object
General, vivienda nueva y de segunda mano    object
√çndices y tasas                              object
Periodo                                      object
Total                                        object
dtype: object
Valores nulos por columna:
Total Nacional                                  0
Comunidades y Ciudades Aut√≥nomas              876
General, vivienda nueva y de segunda mano       0
√çndices y tasas                                 0
Periodo                                         0
Total                                        1168
dtype: int64
------------------------------------------------------------

üìä DATASET: Metros¬≤ Idealista
Shape: (734, 1)
Columnas: ['Localizaci√≥n,Precio m2,Variaci√≥n mensual,Variaci√≥n trimestral,Variaci√≥n anual,M√°ximo hist√≥rico,Variaci√≥n m√°ximo,A√±o']
Primeras 3 filas:
  Localizaci√≥n,Precio m2,Variaci√≥n mensual,Variaci√≥n trimestral,Variaci√≥n anual,M√°ximo hist√≥rico,Variaci√≥n m√°ximo,A√±o
0  Andaluc√≠a,2.468 ‚Ç¨/m2,"0,018","0,053","0,143",2...
1  Almer√≠a provincia,1.336 ‚Ç¨/m2,"0,015","0,046","...
2  Almer√≠a,1.537 ‚Ç¨/m2,"0,017","0,056","0,088",2.2...
Tipos de datos:
Localizaci√≥n,Precio m2,Variaci√≥n mensual,Variaci√≥n trimestral,Variaci√≥n anual,M√°ximo hist√≥rico,Variaci√≥n m√°ximo,A√±o    object
dtype: object
Valores nulos por columna:
Localizaci√≥n,Precio m2,Variaci√≥n mensual,Variaci√≥n trimestral,Variaci√≥n anual,M√°ximo hist√≥rico,Variaci√≥n m√°ximo,A√±o    0
dtype: int64
------------------------------------------------------------

üìä DATASET: Superficie Media
Shape: (8640, 6)
Columnas: ['Total Nacional', 'Comunidades y Ciudades Aut√≥nomas', 'Superficie √∫til de la vivienda', 'Tama√±o del hogar', 'periodo', 'Total']
Primeras 3 filas:
   Total Nacional Comunidades y Ciudades Aut√≥nomas  \
0  Total Nacional                              NaN
1  Total Nacional                              NaN
2  Total Nacional                              NaN

  Superficie √∫til de la vivienda Tama√±o del hogar  periodo     Total
0                          Total            Total     2020  18.754,8
1                          Total            Total     2019  18.625,7
2                          Total            Total     2018  18.535,9
Tipos de datos:
Total Nacional                      object
Comunidades y Ciudades Aut√≥nomas    object
Superficie √∫til de la vivienda      object
Tama√±o del hogar                    object
periodo                              int64
Total                               object
dtype: object
Valores nulos por columna:
Total Nacional                        0
Comunidades y Ciudades Aut√≥nomas    432
Superficie √∫til de la vivienda        0
Tama√±o del hogar                      0
periodo                               0
Total                                 0
dtype: int64
------------------------------------------------------------

üìä DATASET: Tipos Inter√©s
Shape: (1170, 4)
Columnas: ['Tipo de inter√©s', 'Naturaleza de la finca', 'Periodo', 'Total']
Primeras 3 filas:
  Tipo de inter√©s Naturaleza de la finca  Periodo Total
0           Total           Total fincas  2025M03  3,23
1           Total           Total fincas  2025M02  3,17
2           Total           Total fincas  2025M01  3,31
Tipos de datos:
Tipo de inter√©s           object
Naturaleza de la finca    object
Periodo                   object
Total                     object
dtype: object
Valores nulos por columna:
Tipo de inter√©s           0
Naturaleza de la finca    0
Periodo                   0
Total                     0
dtype: int64
------------------------------------------------------------

# AN√ÅLISIS ESPEC√çFICO POR DATASET

In [ ]:
# 1. SALARIOS POR EDAD - buscar grupo 25-34
print("\nüîç SALARIOS POR EDAD - Grupos disponibles:")
if 'Grupo de edad' in salario_edad.columns:
    print(salario_edad['Grupo de edad'].unique())
elif 'grupo_edad' in salario_edad.columns:  
    print(salario_edad['grupo_edad'].unique())
else:
    print("Revisar nombre de columna de edad:", list(salario_edad.columns))

üîç SALARIOS POR EDAD - Grupos disponibles:
['Total' 'De 16 a 24 a√±os' 'De 25 a 34 a√±os' 'De 35 a 44 a√±os'
 'De 45 a 54 a√±os' '55 y m√°s a√±os']

In [6]:
# 2. SALARIOS POR COMUNIDAD - CCAA disponibles
print("\nüîç SALARIOS POR COMUNIDAD - CCAA disponibles:")
comunidad_col = None
for col in salario_comunidad.columns:
    if 'comunidad' in col.lower() or 'ccaa' in col.lower():
        comunidad_col = col
        break
        
if comunidad_col:
    print(f"Columna CCAA: {comunidad_col}")
    print(salario_comunidad[comunidad_col].unique())
else:
    print("Revisar nombres de columnas:", list(salario_comunidad.columns))

üîç SALARIOS POR COMUNIDAD - CCAA disponibles:
Columna CCAA: Comunidades y Ciudades Auton√≥mas
['Total Nacional' '01 Andaluc√≠a' '02 Arag√≥n' '03 Asturias, Principado de'
 '04 Balears, Illes' '05 Canarias' '06 Cantabria' '07 Castilla y Le√≥n'
 '08 Castilla - La Mancha' '09 Catalu√±a' '10 Comunitat Valenciana'
 '11 Extremadura' '12 Galicia' '13 Madrid, Comunidad de'
 '14 Murcia, Regi√≥n de' '15 Navarra, Comunidad Foral de' '16 Pa√≠s Vasco'
 '17 Rioja, La' '18 Ceuta' '19 Melilla']

In [ ]:
# 3. PER√çODOS TEMPORALES disponibles
print("\nüìÖ PER√çODOS TEMPORALES DISPONIBLES:")
for name, df in datasets.items():
    periodo_col = None
    for col in df.columns:
        if 'periodo' in col.lower() or 'a√±o' in col.lower() or 'fecha' in col.lower():
            periodo_col = col
            break

    if periodo_col:
        a√±os_disponibles = df[periodo_col].unique()
        a√±os_recientes = [a√±o for a√±o in a√±os_disponibles if str(a√±o).startswith(('2022', '2023', '2024', '2025'))]
        print(f"{name}: {a√±os_recientes if a√±os_recientes else 'Sin datos recientes'}")
    else:
        print(f"{name}: No se encontr√≥ columna de per√≠odo")

üìÖ PER√çODOS TEMPORALES DISPONIBLES:
Salarios por Edad: [2023, 2022]
Salarios por Comunidad: [2023, 2022]
IPV Hist√≥rico: ['2025T1', '2024T4', '2024T3', '2024T2', '2024T1', '2023T4', '2023T3', '2023T2', '2023T1', '2022T4', '2022T3', '2022T2', '2022T1']
Metros¬≤ Idealista: Sin datos recientes
Superficie Media: Sin datos recientes
Tipos Inter√©s: ['2025M03', '2025M02', '2025M01', '2024M12', '2024M11', '2024M10', '2024M09', '2024M08', '2024M07', '2024M06', '2024M05', '2024M04', '2024M03', '2024M02', '2024M01', '2023M12', '2023M11', '2023M10', '2023M09', '2023M08', '2023M07', '2023M06', '2023M05', '2023M04', '2023M03', '2023M02', '2023M01', '2022M12', '2022M11', '2022M10', '2022M09', '2022M08', '2022M07', '2022M06', '2022M05', '2022M04', '2022M03', '2022M02', '2022M01']

Tras este an√°lisis exploratorio nos damos cuenta que debemos realizar una limpieza urgente del formato de ciertos data-sets y tipolog√≠a de datos. As√≠ como realizar unos c√°lculos para obtener informaci√≥n de a√±os necesarios.