In [53]:
from pathlib import Path
import pandas as pd
import sys 

# Definir la ruta base
data_path = Path('..') / 'data' / 'raw'
src_path = Path('..') / 'src' 

sys.path.append(str(src_path))
from data_cleaning_utils import *

# Leer los archivos
# Probar con diferentes separadores y encoding
salario_edad = pd.read_csv(data_path / 'salario_medio bruto_edad.csv', 
                  sep=';',  # Muchos CSVs espa√±oles usan punto y coma
                  encoding='utf-8')

salario_comunidad = pd.read_csv(data_path / 'salario_medio_bruto_comunidad.csv',
                  sep=';',
                  encoding='utf-8')

ipv = pd.read_csv(data_path / 'ipv historico.csv',
                  sep=';',
                  encoding='utf-8')

superficie_media = pd.read_csv(data_path / 'superficie util vivienda valor medio del periodo.csv',
                  sep=';',
                  encoding='utf-8')

interes_fijo = pd.read_csv(data_path / 'tipo interes medio inicio hipotecas constituidas fijo o variable.csv',
                  sep=';',
                  encoding='utf-8')
idealista_excel = pd.read_excel(data_path / 'Copia_idealista_metros_cuadrados.xlsx')

# EXPLORACI√ìN INICIAL DE DATASETS PARA AN√ÅLISIS HIPOTECARIO

In [3]:
# Diccionario de datasets para iterar
datasets = {
    'Salarios por Edad': salario_edad,
    'Salarios por Comunidad': salario_comunidad, 
    'IPV Hist√≥rico': ipv,
    'Excel Idealista' : idealista_excel,
    'Superficie Media': superficie_media,
    'Tipos Inter√©s': interes_fijo
}

In [4]:
for name, df in datasets.items():
    print(f"\nüìä DATASET: {name}")
    print(f"Shape: {df.shape}")
    print(f"Columnas: {list(df.columns)}")
    print(f"Primeras 3 filas:")
    print(df.head(3))
    print(f"Tipos de datos:")
    print(df.dtypes)
    print(f"Valores nulos por columna:")
    print(df.isnull().sum())
    print("-" * 60)

üìä DATASET: Salarios por Edad
Shape: (3564, 5)
Columnas: ['Tipo de jornada', 'Grupo de edad', 'Decil', 'Periodo', 'Total']
Primeras 3 filas:
  Tipo de jornada Grupo de edad        Decil  Periodo     Total
0           Total         Total  Total decil     2023  2.273,01
1           Total         Total  Total decil     2022  2.118,79
2           Total         Total  Total decil     2021  2.076,45
Tipos de datos:
Tipo de jornada    object
Grupo de edad      object
Decil              object
Periodo             int64
Total              object
dtype: object
Valores nulos por columna:
Tipo de jornada    0
Grupo de edad      0
Decil              0
Periodo            0
Total              0
dtype: int64
------------------------------------------------------------

üìä DATASET: Salarios por Comunidad
Shape: (11880, 5)
Columnas: ['Tipo de jornada', 'Comunidades y Ciudades Auton√≥mas', 'Decil', 'Periodo', 'Total']
Primeras 3 filas:
  Tipo de jornada Comunidades y Ciudades Auton√≥mas        Decil  Periodo  \
0           Total                   Total Nacional  Total decil     2023
1           Total                   Total Nacional  Total decil     2022
2           Total                   Total Nacional  Total decil     2021

      Total
0  2.273,01
1  2.118,79
2  2.076,45
Tipos de datos:
Tipo de jornada                     object
Comunidades y Ciudades Auton√≥mas    object
Decil                               object
Periodo                              int64
Total                               object
dtype: object
Valores nulos por columna:
Tipo de jornada                     0
Comunidades y Ciudades Auton√≥mas    0
Decil                               0
Periodo                             0
Total                               0
dtype: int64
------------------------------------------------------------

üìä DATASET: IPV Hist√≥rico
Shape: (17520, 6)
Columnas: ['Total Nacional', 'Comunidades y Ciudades Aut√≥nomas', 'General, vivienda nueva y de segunda mano', '√çndices y tasas', 'Periodo', 'Total']
Primeras 3 filas:
  Total Nacional Comunidades y Ciudades Aut√≥nomas  \
0       Nacional                              NaN
1       Nacional                              NaN
2       Nacional                              NaN

  General, vivienda nueva y de segunda mano √çndices y tasas Periodo    Total
0                                   General          √çndice  2025T1  171,296
1                                   General          √çndice  2024T4  165,433
2                                   General          √çndice  2024T3  162,521
Tipos de datos:
Total Nacional                               object
Comunidades y Ciudades Aut√≥nomas             object
General, vivienda nueva y de segunda mano    object
√çndices y tasas                              object
Periodo                                      object
Total                                        object
dtype: object
Valores nulos por columna:
Total Nacional                                  0
Comunidades y Ciudades Aut√≥nomas              876
General, vivienda nueva y de segunda mano       0
√çndices y tasas                                 0
Periodo                                         0
Total                                        1168
dtype: int64
------------------------------------------------------------

üìä DATASET: Excel Idealista
Shape: (114, 8)
Columnas: ['Comunidades y Ciudades Auton√≥mas', 'Precio‚Ç¨/m2', 'Variaci√≥n mensual', 'Variaci√≥n trimestral', 'Variaci√≥n anual', 'M√°ximo hist√≥rico', 'Variaci√≥n m√°ximo', 'A√±o']
Primeras 3 filas:
  Comunidades y Ciudades Auton√≥mas  Precio‚Ç¨/m2 Variaci√≥n mensual  \
0                        Andaluc√≠a  2.468 ‚Ç¨/m2             0.018
1                           Arag√≥n  1.469 ‚Ç¨/m2           - 0,2 %
2                         Asturias  1.538 ‚Ç¨/m2             0.017

  Variaci√≥n trimestral Variaci√≥n anual      M√°ximo hist√≥rico Variaci√≥n m√°ximo  \
0                0.053           0.143  2.468 ‚Ç¨/m2 mayo 2025            0,0 %
1                0.029           0.028   2.008 ‚Ç¨/m2 mar 2007         - 26,8 %
2                0.054           0.109   1.867 ‚Ç¨/m2 abr 2008         - 17,6 %

    A√±o
0  2025
1  2025
2  2025
Tipos de datos:
Comunidades y Ciudades Auton√≥mas    object
Precio‚Ç¨/m2                          object
Variaci√≥n mensual                   object
Variaci√≥n trimestral                object
Variaci√≥n anual                     object
M√°ximo hist√≥rico                    object
Variaci√≥n m√°ximo                    object
A√±o                                  int64
dtype: object
Valores nulos por columna:
Comunidades y Ciudades Auton√≥mas    0
Precio‚Ç¨/m2                          0
Variaci√≥n mensual                   0
Variaci√≥n trimestral                0
Variaci√≥n anual                     0
M√°ximo hist√≥rico                    0
Variaci√≥n m√°ximo                    0
A√±o                                 0
dtype: int64
------------------------------------------------------------

üìä DATASET: Superficie Media
Shape: (8640, 6)
Columnas: ['Total Nacional', 'Comunidades y Ciudades Aut√≥nomas', 'Superficie √∫til de la vivienda', 'Tama√±o del hogar', 'periodo', 'Total']
Primeras 3 filas:
   Total Nacional Comunidades y Ciudades Aut√≥nomas  \
0  Total Nacional                              NaN
1  Total Nacional                              NaN
2  Total Nacional                              NaN

  Superficie √∫til de la vivienda Tama√±o del hogar  periodo     Total
0                          Total            Total     2020  18.754,8
1                          Total            Total     2019  18.625,7
2                          Total            Total     2018  18.535,9
Tipos de datos:
Total Nacional                      object
Comunidades y Ciudades Aut√≥nomas    object
Superficie √∫til de la vivienda      object
Tama√±o del hogar                    object
periodo                              int64
Total                               object
dtype: object
Valores nulos por columna:
Total Nacional                        0
Comunidades y Ciudades Aut√≥nomas    432
Superficie √∫til de la vivienda        0
Tama√±o del hogar                      0
periodo                               0
Total                                 0
dtype: int64
------------------------------------------------------------

üìä DATASET: Tipos Inter√©s
Shape: (1170, 4)
Columnas: ['Tipo de inter√©s', 'Naturaleza de la finca', 'Periodo', 'Total']
Primeras 3 filas:
  Tipo de inter√©s Naturaleza de la finca  Periodo Total
0           Total           Total fincas  2025M03  3,23
1           Total           Total fincas  2025M02  3,17
2           Total           Total fincas  2025M01  3,31
Tipos de datos:
Tipo de inter√©s           object
Naturaleza de la finca    object
Periodo                   object
Total                     object
dtype: object
Valores nulos por columna:
Tipo de inter√©s           0
Naturaleza de la finca    0
Periodo                   0
Total                     0
dtype: int64
------------------------------------------------------------

# AN√ÅLISIS EXPLORATORIO ESPEC√çFICO POR DATASET

In [4]:
# 1. SALARIOS POR EDAD - buscar grupo 25-34
print("\nüîç SALARIOS POR EDAD - Grupos disponibles:")
if 'Grupo de edad' in salario_edad.columns:
    print(salario_edad['Grupo de edad'].unique())
elif 'grupo_edad' in salario_edad.columns:  
    print(salario_edad['grupo_edad'].unique())
else:
    print("Revisar nombre de columna de edad:", list(salario_edad.columns))

üîç SALARIOS POR EDAD - Grupos disponibles:
['Total' 'De 16 a 24 a√±os' 'De 25 a 34 a√±os' 'De 35 a 44 a√±os'
 'De 45 a 54 a√±os' '55 y m√°s a√±os']

In [5]:
# 2. SALARIOS POR COMUNIDAD - CCAA disponibles
print("\nüîç SALARIOS POR COMUNIDAD - CCAA disponibles:")
comunidad_col = None
for col in salario_comunidad.columns:
    if 'comunidad' in col.lower() or 'ccaa' in col.lower():
        comunidad_col = col
        break
        
if comunidad_col:
    print(f"Columna CCAA: {comunidad_col}")
    print(salario_comunidad[comunidad_col].unique())
else:
    print("Revisar nombres de columnas:", list(salario_comunidad.columns))

üîç SALARIOS POR COMUNIDAD - CCAA disponibles:
Columna CCAA: Comunidades y Ciudades Auton√≥mas
['Total Nacional' '01 Andaluc√≠a' '02 Arag√≥n' '03 Asturias, Principado de'
 '04 Balears, Illes' '05 Canarias' '06 Cantabria' '07 Castilla y Le√≥n'
 '08 Castilla - La Mancha' '09 Catalu√±a' '10 Comunitat Valenciana'
 '11 Extremadura' '12 Galicia' '13 Madrid, Comunidad de'
 '14 Murcia, Regi√≥n de' '15 Navarra, Comunidad Foral de' '16 Pa√≠s Vasco'
 '17 Rioja, La' '18 Ceuta' '19 Melilla']

In [6]:
# 3. PER√çODOS TEMPORALES disponibles
print("\nüìÖ PER√çODOS TEMPORALES DISPONIBLES:")
for name, df in datasets.items():
    periodo_col = None
    for col in df.columns:
        if 'periodo' in col.lower() or 'a√±o' in col.lower() or 'fecha' in col.lower():
            periodo_col = col
            break

    if periodo_col:
        a√±os_disponibles = df[periodo_col].unique()
        a√±os_recientes = [a√±o for a√±o in a√±os_disponibles if str(a√±o).startswith(('2022', '2023', '2024', '2025'))]
        print(f"{name}: {a√±os_recientes if a√±os_recientes else 'Sin datos recientes'}")
    else:
        print(f"{name}: No se encontr√≥ columna de per√≠odo")

üìÖ PER√çODOS TEMPORALES DISPONIBLES:
Salarios por Edad: [2023, 2022]
Salarios por Comunidad: [2023, 2022]
IPV Hist√≥rico: ['2025T1', '2024T4', '2024T3', '2024T2', '2024T1', '2023T4', '2023T3', '2023T2', '2023T1', '2022T4', '2022T3', '2022T2', '2022T1']
Excel Idealista: [2025, 2024, 2023, 2022]
Superficie Media: Sin datos recientes
Tipos Inter√©s: ['2025M03', '2025M02', '2025M01', '2024M12', '2024M11', '2024M10', '2024M09', '2024M08', '2024M07', '2024M06', '2024M05', '2024M04', '2024M03', '2024M02', '2024M01', '2023M12', '2023M11', '2023M10', '2023M09', '2023M08', '2023M07', '2023M06', '2023M05', '2023M04', '2023M03', '2023M02', '2023M01', '2022M12', '2022M11', '2022M10', '2022M09', '2022M08', '2022M07', '2022M06', '2022M05', '2022M04', '2022M03', '2022M02', '2022M01']

In [5]:
try:
    idealista_excel = pd.read_excel(data_path / 'Copia_idealista_metros_cuadrados.xlsx')
    
    print("‚úÖ Archivo Excel cargado exitosamente")
    print(f"Shape: {idealista_excel.shape}")
    print(f"Columnas: {list(idealista_excel.columns)}")
    
    print("\nPrimeras 5 filas:")
    print(idealista_excel.head())
    
    print("\nTipos de datos:")
    print(idealista_excel.dtypes)
    
    print("\nValores nulos por columna:")
    print(idealista_excel.isnull().sum())
    
     # Verificar si hay datos de CCAA
    print("\nüó∫Ô∏è VERIFICANDO CCAA DISPONIBLES:")
    # Buscar columna que contenga nombres de lugares/CCAA
    for col in idealista_excel.columns:
        if any(keyword in col.lower() for keyword in ['comunidad', 'ccaa', 'localiz', 'lugar', 'region']):
            print(f"Columna de ubicaciones: {col}")
            ubicaciones = idealista_excel[col].unique()
            print(f"N√∫mero de ubicaciones: {len(ubicaciones)}")
            print("Primeras 10 ubicaciones:")
            print(ubicaciones[:10])
            break
    
    # Verificar si hay datos de precios
    print("\nüí∞ VERIFICANDO PRECIOS DISPONIBLES:")
    for col in idealista_excel.columns:
        if any(keyword in col.lower() for keyword in ['precio', 'm2', 'euro', '‚Ç¨']):
            print(f"Columna de precios: {col}")
            # Mostrar estad√≠sticas b√°sicas si es num√©rica
            if idealista_excel[col].dtype in ['int64', 'float64']:
                print(f"Estad√≠sticas b√°sicas:")
                print(idealista_excel[col].describe())
            else:
                print("Primeros valores:")
                print(idealista_excel[col].head())
            break
    
except FileNotFoundError:
    print("‚ùå Error: No se encontr√≥ el archivo 'Copia_idealista_metros_cuadrados.xlsx'")
    print("Verifica que el archivo est√© en la carpeta 'data/raw'")
except Exception as e:
    print(f"‚ùå Error al cargar el archivo: {e}")

‚úÖ Archivo Excel cargado exitosamente
Shape: (114, 8)
Columnas: ['Comunidades y Ciudades Auton√≥mas', 'Precio‚Ç¨/m2', 'Variaci√≥n mensual', 'Variaci√≥n trimestral', 'Variaci√≥n anual', 'M√°ximo hist√≥rico', 'Variaci√≥n m√°ximo', 'A√±o']

Primeras 5 filas:
  Comunidades y Ciudades Auton√≥mas  Precio‚Ç¨/m2 Variaci√≥n mensual  \
0                        Andaluc√≠a  2.468 ‚Ç¨/m2             0.018
1                           Arag√≥n  1.469 ‚Ç¨/m2           - 0,2 %
2                         Asturias  1.538 ‚Ç¨/m2             0.017
3                         Baleares  4.905 ‚Ç¨/m2             0.014
4                         Canarias  3.039 ‚Ç¨/m2             0.019

  Variaci√≥n trimestral Variaci√≥n anual      M√°ximo hist√≥rico Variaci√≥n m√°ximo  \
0                0.053           0.143  2.468 ‚Ç¨/m2 mayo 2025            0,0 %
1                0.029           0.028   2.008 ‚Ç¨/m2 mar 2007         - 26,8 %
2                0.054           0.109   1.867 ‚Ç¨/m2 abr 2008         - 17,6 %
3                0.024           0.135  4.905 ‚Ç¨/m2 mayo 2025            0,0 %
4                 0.04           0.182  3.039 ‚Ç¨/m2 mayo 2025            0,0 %

    A√±o
0  2025
1  2025
2  2025
3  2025
4  2025

Tipos de datos:
Comunidades y Ciudades Auton√≥mas    object
Precio‚Ç¨/m2                          object
Variaci√≥n mensual                   object
Variaci√≥n trimestral                object
Variaci√≥n anual                     object
M√°ximo hist√≥rico                    object
Variaci√≥n m√°ximo                    object
A√±o                                  int64
dtype: object

Valores nulos por columna:
Comunidades y Ciudades Auton√≥mas    0
Precio‚Ç¨/m2                          0
Variaci√≥n mensual                   0
Variaci√≥n trimestral                0
Variaci√≥n anual                     0
M√°ximo hist√≥rico                    0
Variaci√≥n m√°ximo                    0
A√±o                                 0
dtype: int64

üó∫Ô∏è VERIFICANDO CCAA DISPONIBLES:
Columna de ubicaciones: Comunidades y Ciudades Auton√≥mas
N√∫mero de ubicaciones: 19
Primeras 10 ubicaciones:
['Andaluc√≠a' 'Arag√≥n' 'Asturias' 'Baleares' 'Canarias' 'Cantabria'
 'Castilla y Le√≥n' 'Castilla-La Mancha' 'Catalu√±a' 'Ceuta']

üí∞ VERIFICANDO PRECIOS DISPONIBLES:
Columna de precios: Precio‚Ç¨/m2
Primeros valores:
0    2.468 ‚Ç¨/m2
1    1.469 ‚Ç¨/m2
2    1.538 ‚Ç¨/m2
3    4.905 ‚Ç¨/m2
4    3.039 ‚Ç¨/m2
Name: Precio‚Ç¨/m2, dtype: object

Tras este an√°lisis exploratorio nos damos cuenta que debemos realizar una limpieza de nulos, estandarizaci√≥n de nombres y cambio de tipos de datos. As√≠ como realizar unos c√°lculos para obtener informaci√≥n de a√±os necesarios.

# LIMPIEZA DATASETS

In [6]:
# 1. LIMPIAR IDEALISTA
#limpiar precios
idealista_clean = idealista_excel.copy()

In [7]:
def limpiar_precio_m2(precio_texto):
    if pd.isna(precio_texto):
        return None
    precio_limpio = str(precio_texto).replace('‚Ç¨/m2', '').replace('.', '').replace(',', '.').strip()
    try:
        return int(precio_limpio)
    except:
        return None

idealista_clean['Precio m2'] = idealista_clean['Precio‚Ç¨/m2'].apply(limpiar_precio_m2)

print("Precios convertidos:")
print(idealista_clean[['Comunidades y Ciudades Auton√≥mas', 'Precio‚Ç¨/m2', 'Precio m2']].head())

Precios convertidos:
  Comunidades y Ciudades Auton√≥mas  Precio‚Ç¨/m2  Precio m2
0                        Andaluc√≠a  2.468 ‚Ç¨/m2       2468
1                           Arag√≥n  1.469 ‚Ç¨/m2       1469
2                         Asturias  1.538 ‚Ç¨/m2       1538
3                         Baleares  4.905 ‚Ç¨/m2       4905
4                         Canarias  3.039 ‚Ç¨/m2       3039

In [8]:
#ESTANDARIZAR NOMBRES DE CCAA
# Mapeo para unificar nombres entre datasets
mapeo_ccaa = {
    'Andaluc√≠a': '01 Andaluc√≠a',
    'Arag√≥n': '02 Arag√≥n', 
    'Asturias': '03 Asturias, Principado de',
    'Baleares': '04 Balears, Illes',
    'Canarias': '05 Canarias',
    'Cantabria': '06 Cantabria',
    'Castilla y Le√≥n': '07 Castilla y Le√≥n',
    'Castilla-La Mancha': '08 Castilla - La Mancha',
    'Catalu√±a': '09 Catalu√±a',
    'Comunidad Valenciana': '10 Comunitat Valenciana',
    'Extremadura': '11 Extremadura',
    'Galicia': '12 Galicia',
    'Madrid': '13 Madrid, Comunidad de',
    'Murcia': '14 Murcia, Regi√≥n de',
    'Navarra': '15 Navarra, Comunidad Foral de',
    'Pa√≠s Vasco': '16 Pa√≠s Vasco',
    'La Rioja': '17 Rioja, La',
    'Ceuta': '18 Ceuta',
    'Melilla': '19 Melilla'
}

In [9]:
idealista_clean['CCAA_estandarizado'] = idealista_clean['Comunidades y Ciudades Auton√≥mas'].map(mapeo_ccaa)

In [10]:
columnas_a_mantener_idealista = [
    'CCAA_estandarizado', 
    'A√±o', 
    'Precio m2'
]

idealista_final = idealista_clean[columnas_a_mantener_idealista].copy()

In [11]:
idealista_final = idealista_final.rename(columns={
    'CCAA_estandarizado': 'Comunidades y Ciudades Aut√≥nomas'
})
idealista_final.columns

Index(['Comunidades y Ciudades Aut√≥nomas', 'A√±o', 'Precio m2'], dtype='object')

EXPORT DATASET LIMPIO DE IDEALISTA
import os

Crear la carpeta data/clean si no existe
os.makedirs('data/clean', exist_ok=True)

Guardar el dataset limpio de Idealista
idealista_final.to_csv('data/clean/idealista_clean.csv', index=False)

print("Dataset de Idealista guardado exitosamente en data/clean/idealista_clean.csv")
print(f"Forma del dataset guardado: {idealista_final.shape}")

In [15]:
#IPV HIST√ìRICO Y SUPERFICIE MEDIA: ELIMINAR NULOS
superficie_media=drop_nulls(superficie_media)

In [16]:
ipv=drop_nulls(ipv)

In [17]:
#LIMPIEZA DATASET IPV
# Eliminar la columna 'Total Nacional' (solo contiene 'Nacional')
ipv_clean = ipv.drop('Total Nacional', axis=1).copy()

# Renombrar columnas para mayor claridad
ipv_clean = ipv_clean.rename(columns={
    'General, vivienda nueva y de segunda mano': 'Tipo Vivienda',
    '√çndices y tasas': 'Tipo Indicador'
})

In [18]:
# Limpiar y convertir Total
ipv_clean['Total'] = ipv_clean['Total'].str.replace(',', '.')
ipv_clean['Total'] = ipv_clean['Total'].astype(float)

In [19]:
#LIMPIEZA DATASET SUPERFICIE MEDIA
#ESTANDARIZAR NOMBRES DE CCAA
# Mapeo para unificar nombres entre datasets
mapeo_ccaa_2 = {
    'Andaluc√≠a': '01 Andaluc√≠a',
    'Arag√≥n': '02 Arag√≥n', 
    'Asturias, Principado de': '03 Asturias, Principado de',
    'Balears, Illes': '04 Balears, Illes',
    'Canarias': '05 Canarias',
    'Cantabria': '06 Cantabria',
    'Castilla y Le√≥n': '07 Castilla y Le√≥n',
    'Castilla - La Mancha': '08 Castilla - La Mancha',
    'Catalu√±a': '09 Catalu√±a',
    'Comunitat Valenciana': '10 Comunitat Valenciana',
    'Extremadura': '11 Extremadura',
    'Galicia': '12 Galicia',
    'Madrid, Comunidad de': '13 Madrid, Comunidad de',
    'Murcia, Regi√≥n de': '14 Murcia, Regi√≥n de',
    'Navarra, Comunidad Foral de': '15 Navarra, Comunidad Foral de',
    'Pa√≠s Vasco': '16 Pa√≠s Vasco',
    'Rioja, La': '17 Rioja, La',
    'Ceuta': '18 Ceuta',
    'Melilla': '19 Melilla'
}

In [20]:
superficie_media['Comunidades y Ciudades Aut√≥nomas'] = superficie_media['Comunidades y Ciudades Aut√≥nomas'].map(mapeo_ccaa_2)

/var/folders/4q/413qpbj17ks9bgdzl52cpx9m0000gn/T/ipykernel_1157/2539730385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  superficie_media['Comunidades y Ciudades Aut√≥nomas'] = superficie_media['Comunidades y Ciudades Aut√≥nomas'].map(mapeo_ccaa_2)

In [21]:
superficie_clean = superficie_media.drop('Total Nacional', axis=1).copy()

# Renombrar columnas
superficie_clean = superficie_clean.rename(columns={
    'Superficie √∫til de la vivienda': 'Superficie Util',
    'Tama√±o del hogar': 'Tama√±o Hogar',
    'periodo': 'A√±o'
})

In [22]:
# Limpiar y convertir Total
# Eliminar puntos de miles -  Reemplazar la coma decimal por punto
# Quitar filas donde 'Total' est√° vac√≠o o solo contiene espacios
superficie_clean['Total'] = superficie_clean['Total'].str.replace('.', '', regex=False)
superficie_clean['Total'] = superficie_clean['Total'].str.replace(',', '.', regex=False)
superficie_clean['Total'] = pd.to_numeric(superficie_clean['Total'], errors='coerce')
superficie_clean = superficie_clean.dropna(subset=['Total'])

EXPORTAMOS LOS DOS CSVS LIMPIOS 
import os
os.makedirs('data/clean', exist_ok=True)
superficie_clean.to_csv('data/clean/superficie_clean.csv', index=False)
ipv_clean.to_csv('data/clean/ipv_clean.csv', index=False)

idealista_final superficie_clean y ipv_clean son los datasets limpios para trabajar en ellos

In [37]:
overview(interes_fijo)

Shape: (1170, 4)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170 entries, 0 to 1169
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tipo de inter√©s         1170 non-null   object
 1   Naturaleza de la finca  1170 non-null   object
 2   Periodo                 1170 non-null   object
 3   Total                   1170 non-null   object
dtypes: object(4)
memory usage: 36.7+ KB
None

Tipos de datos:
Tipo de inter√©s           object
Naturaleza de la finca    object
Periodo                   object
Total                     object
dtype: object

In [38]:
overview(salario_comunidad)

Shape: (11880, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11880 entries, 0 to 11879
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Tipo de jornada                   11880 non-null  object
 1   Comunidades y Ciudades Auton√≥mas  11880 non-null  object
 2   Decil                             11880 non-null  object
 3   Periodo                           11880 non-null  int64
 4   Total                             11880 non-null  object
dtypes: int64(1), object(4)
memory usage: 464.2+ KB
None

Tipos de datos:
Tipo de jornada                     object
Comunidades y Ciudades Auton√≥mas    object
Decil                               object
Periodo                              int64
Total                               object
dtype: object

In [ ]:
overview(salario_edad)

Shape: (3564, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3564 entries, 0 to 3563
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Tipo de jornada  3564 non-null   object
 1   Grupo de edad    3564 non-null   object
 2   Decil            3564 non-null   object
 3   Periodo          3564 non-null   int64
 4   Total            3564 non-null   object
dtypes: int64(1), object(4)
memory usage: 139.3+ KB
None

Tipos de datos:
Tipo de jornada    object
Grupo de edad      object
Decil              object
Periodo             int64
Total              object
dtype: object

In [57]:
salario_comunidad = limpiar_columna_total(salario_comunidad)
salario_edad = limpiar_columna_total(salario_edad)
interes_fijo = limpiar_columna_total(interes_fijo)

NameError: name 'limpiar_columna_total' is not defined

In [49]:
#LIMPIEZA SALARIO POR COMUNIDAD
# Eliminar puntos de miles y reemplazar comas decimales
salario_comunidad['Total'] = salario_comunidad['Total'].str.replace('.', '', regex=False)
salario_comunidad['Total'] = salario_comunidad['Total'].str.replace(',', '.', regex=False)

# Convertir a float y eliminar vac√≠os si quedan
salario_comunidad['Total'] = pd.to_numeric(salario_comunidad['Total'], errors='coerce')
salario_comunidad = salario_comunidad.dropna(subset=['Total'])

In [50]:
#LIMPIEZA SALARIO POR EDAD
salario_edad['Total'] = salario_edad['Total'].str.replace('.', '', regex=False)
salario_edad['Total'] = salario_edad['Total'].str.replace(',', '.', regex=False)

salario_edad['Total'] = pd.to_numeric(salario_edad['Total'], errors='coerce')
salario_edad = salario_edad.dropna(subset=['Total'])

In [ ]:
#LIMPIEZA INTERES FIJO 
interes_fijo['Total'] = interes_fijo['Total'].str.replace('.', '', regex=False)
interes_fijo['Total'] = interes_fijo['Total'].str.replace(',', '.', regex=False)

interes_fijo['Total'] = pd.to_numeric(interes_fijo['Total'], errors='coerce')
interes_fijo = interes_fijo.dropna(subset=['Total'])

#Elegir Naturaleza de la finca == 'Vivienda' es mejor que 'Total'